.sircali-medrese-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .medrese-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 2rem;
  }
  
  .description {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .location-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .location-icon {
    margin-right: 5px;
  }
  